<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<bod>

    <div class="wrapper">
        <svg>
            <text x="50%" y="50%" dy=".35em" text-anchor="middle">
                To Do Task List
            </text>
        </svg>
    </div>

    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>
    <script src="/public/js/main.js"></script>
</bod>
</html>